/*styling by element*/
body {
    --text-color: #222;
    --bkg-color: #ececec;
    --above-bkg: #fbfbfb;
    --shadowcolor: #ccc;
    --adv-color: #ebebeb;
    --check-color: #179717;
    --gradient-bottom: #2091f2;
    --gradient-top: #50caf7;
    --shadow-darker: #979696;
    --form-color: #484848;
    --middle-color: #1579ce;
    --red-color: #ff1414;
}

.custom-dark-bg{
    background-color: #c29898;
}

body.dark-theme {
    --text-color: #dcdcdc;
    --bkg-color: #121212;
    --above-bkg: #3e3e3e;
    --shadowcolor: #121212;
    --adv-color: #2a2a2a;
    --check-color: #127212;
    --gradient-bottom: #132d40;
    --gradient-top: #185c78;
    --shadow-darker: #08171c;
    --form-color: #afafaf;
    --middle-color: #1f6f96;
    --red-color: #cb0d0d;
}

body {
  color: var(--text-color);
  background: var(--bkg-color);
}

input::-webkit-input-placeholder {
    opacity: 0.5; /*Change the opacity between 0 and 1*/
}

html,body{
    font-family: "Raleway", sans-serif;
    font-size:15px;
    height: 100%;}
html{overflow-x:hidden}

h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px;
    font-weight: normal}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 4px 12px 4px 6px;
}

input, select, textarea{
    margin-top: 5px;
}

input{
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
}

textarea {
    overflow: scroll;
    width: 162px;
    white-space: nowrap;
}

/*styling by class*/
.btn,.button{
    border:none;
    display:inline-block;
    padding:8px 12px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    background-color: inherit;
    white-space: normal;
    color: var(--bkg-color)}

.border{border:1px solid #ccc!important;}

.rounded{
    border-radius: 6px;
}

.rounded-small{
    border-radius: 3px;
}

.rounded-tiny{
    border-radius: 2px;
}

.disabled{opacity: 0.5}

.shadow{box-shadow: 0 0 6px 0 var(--shadowcolor);}
.shadow-darker{box-shadow: 0 0 6px 0 var(--shadow-darker)}

.source-font-light{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
}

.source-font{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

.wrapper {
    margin: 0 auto;
    padding: 0 60px;
    text-align: left;
    width: 1220px;
    background-color:var(--above-bkg);
    border-radius: 8px;
}

.subwrap{
    text-align: left;
    width: 1220px;
    padding: 10px 40px;
    margin:20px auto;
    background-color:var(--above-bkg);
    border-radius: 8px;
}

/*column & row styling*/
.column {
    float: left;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*hr styling*/
.hr {
    display: inline-block;
}
.hr:after {
    content: '';
    display: block;
    border-top: 2px solid #4094d9;
    margin-top: 0.5em;
}

/*colours*/
.cord-blue{color:#0070cc;}
.cord-blue-bg{background-color: #0070cc;}
.blue-border{border-color:#4094d9;}
.blue-bg{background-color:#4094d9;}
.blue{background-color:#4094d9;}
.light-blue-bg{background-color: #c6ffff}
.black-bg{background-color:#000000!important;}
.dark-bg{
    background-color: #212121;
}
.gradient-bg{
    background-image: linear-gradient(var(--gradient-bottom),var(--gradient-top));
}
.button-bg{
    background-color: var(--middle-color)
}
.red{color: var(--red-color)
}

.red-border{
    border-color: var(--red-color);
    border-width: 2px;
}

/*text size*/
.title{font-weight: 900; margin-top: 0}

.tiny-font{font-size:10px!important}
.small-font{font-size:13px!important}
.medium-font{font-size:15px!important}
.large-font{font-size:18px!important}
.xlarge-font{font-size:24px!important}
.xxlarge-font{font-size:36px!important}
.xxxlarge-font{font-size:48px!important}
.jumbo-font{font-size:64px!important}

.standard-text{
    font-size:15px!important;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}

/*margins and padding*/
.padding-small{padding:4px 8px!important}
.padding{padding:8px 16px!important}
.padding-large{padding:12px 24px!important}
.padding-16{padding-top:16px!important;padding-bottom:16px!important}
.padding-24{padding-top:24px!important;padding-bottom:24px!important}
.padding-32{padding-top:32px!important;padding-bottom:32px!important}
.padding-32-top-only{padding-top: 32px!important;}
.padding-48{padding-top:48px!important;padding-bottom:48px!important}
.padding-64{padding-top:64px!important;padding-bottom:64px!important}
.padding-64-top-only{padding-top: 64px!important;}
.padding-largish{padding: 12px 8px !important; }

.margin-large-vertical{margin: 1.5em 0;
}

.margin-small-bottom{
    margin-bottom: 10px;
}
.margin-small-left{
    margin-left: 10px;
}

.margin-24{
    margin-top: 24px;
    margin-bottom: 24px;
}

.no-margin{
    margin-top: 0;
}

.label-margin-top{
    padding-top: 10px;
    display: inline-block;
}

/*toggle check styling*/
.toggle-control {
  display: block;
  position: relative;
  padding-left: 55px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.toggle-control input:checked ~ .control {
  background-color: dodgerblue;
}
.toggle-control input:checked ~ .control:after {
  left: 22px;
}
.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 40px;
  border-radius: 10px;
  background-color: #c7c4c4;
  transition: background-color 0.15s ease-in;
}
.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: white;
  transition: left 0.15s ease-in;
}

/* Change the  autofill white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px var(--above-bkg) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill
{
 -webkit-text-fill-color: var(--text-color) !important;
}

/*font awesome element styling*/
.fa-angle-down{
    color: var(--text-color);
}

.fa-angle-up{
    color: var(--text-color);
}
.fa-check-square{
    color: var(--check-color);
    margin-right: 10px;
}

.fa-square{
    margin-right: 10px;
}

/*specific element styling*/
.download-button{
    margin:0 auto;
    display:block;
    color: #efefef;
}

.side-label{
    padding-left: 10px;
    display: none;
}

.check_styling{
    font-size: 13.3px;
    font-family: Arial;
    vertical-align: middle;
    display: inline-block;
    margin-top: 3px;
}

.form_field {
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid var(--form-color);
    outline: 0;
    color: var(--form-color);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    width: 460px;
}

.req_fieldset{
    border: 1px var(--form-color) solid; width: 460px
}

.adv_fieldset{
    border: 1px var(--text-color) solid;
    width: 550px;
}

/*text align*/
.centre-text{
    text-align: center;
}

.right-text{
    text-align: right;
    display: inline-block;
    width: 190px;
}

.left-text{
    text-align: left;
}

/*div align*/
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  /*whatever width you want*/
}

/*syling by id*/
#hr_special{
    display: inline-block;
}

#hr_special:after{
    content: '';
    display: block;
    border-top: 2px solid #4094d9;
    margin-top: 1em;

}

#progress_categories h4, #progress_categories h5{
    font-weight: normal;
}

#grid_table th{
    padding-right: 15px;
    padding-bottom: 10px;
}

#grid_table td{
    padding-bottom:5px
}

#conf_table th {
    padding-right: 10px;
    padding-bottom: 5px;
}

#conf_table td{
    padding-right: 10px
}

input#grid_search{
    vertical-align: middle;
    margin-left: 0;
}

#results-title{
    width: 1200px;
    padding: 0 50px;
}

#adv_form{
    background-color: var(--adv-color);
}

.container {
    /* remember to set a width */
    margin-right: auto;
    margin-left: auto;
    height: 200px;
    margin-top: -100px /* half of you height */
}


#container
{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    margin-top: -100px; /* half of you height */
    width: 400px;
    margin-left: -200px /* half of you width */
}